.hero{
    padding: 60px;
}

.hero-container{
    display: flex;
}

.hero-text{
    padding-top:8px;
    width: 37.5rem;
}

.badge{
    border: 1.5px solid;
    padding: 0.4375rem;
    padding-inline: 1rem;
    border-radius: 12px;
    font-size: 0.625rem;
    font-weight: 600;
    background-color:#452B16;
    letter-spacing:2px;
}

h1{
    font-size:4.5rem;
    margin-top:25px;
    letter-spacing:-1px;
    line-height:120%;
}

.highlight{
    color: var(--text-gray);
}

.hero-text p{
    font-size: 1.25rem;
    margin-top: 45px;
    font-weight: 300;
}

.hero-actions{
    display: flex;
    gap: 15px;
    margin-block:40px;

}

.hero-actions button{
    background-color: var(--card-dark);
    padding: 20px;
    padding-inline: 35px;
    border: 1px solid var(--text-gray);
    color: var(--text-gray);
    font-size: 15px;
    font-weight:700;
    border-radius: 5px;
}

.search-bar{
    display:flex;
    background-color: var(--card-dark);
    margin-block:3rem ;
    width: 37.5rem;
    border-radius: 10px;
    padding-block: 14px;
}

.input-group{
    margin-inline: 1.875rem;
}

.input-group input{
    background-color: var(--card-dark);
    border: none;
    border-right: 0.1px solid var(--text-gray);
    font-size: 10px;
    padding-inline-end: 3.75rem;
    padding-block: 1.25rem;
}

.search-bar button{
    border: none;
    padding-block: 10px;
    padding-inline: 15px;
    border-radius: 10px;
    margin-left: 13px;
}

.hero-image-container{
    margin: 40px;
    margin-block: 89px;
    width: 37.5rem;
}
.hero-image{
    background-color: var(--card-dark);
    width: 36.875rem;
    height:37.5rem;
    border-radius: 45px;
}

.hero-image img{
    width: 36.875rem;
    height:37.5rem;
    border-radius: 45px;
    object-fit: cover;
}

.status-card {
    background: rgba(22, 24, 29, 0.95); 
    padding: 22px; 
    margin-inline: 37px;
    margin-top: -155px;
    border-radius: 15px;
    display: flex; 
    gap: 22px;
    align-items: center;
    position: absolute;
    padding-inline-end: 180px;
}

.status-icon {
    background: #065f46; 
    color: #10b981;
    padding: 25px; 
    border-radius: 8px; 
}

.status-label { 
    font-size: 0.6rem; 
    color: #10b981; 
    display: block; 
    font-weight: bold; 
}

.status-value { 
    font-size: 1.1rem; 
    font-weight: 500; 
    display: block; 
}

.status-desc { 
    font-size: 0.7rem; 
    color: var(--text-gray); 
}
