.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: rgba(10, 11, 13, 0.9);
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--card-dark);
}

.nav-left{
    display: flex;
    gap: 50px;
}

.nav-links{
    display: flex;
    gap: 28px;
    list-style: none;
    
    a{
        text-decoration: none;
        color: var(--text-white);
        font-size: 12px;
        font-weight: 10;
    }

}

.nav-right{
    display: flex;
    a{
        text-decoration: none;
        color: var(--text-white);
        font-size: 12px;
        display: flex;
        gap: 5px;

        p{
            margin-block: 5px
        }

        img{
            width: 1.5625rem;
            height: 1.5625rem;
        }
    }
    
}

.notification{
    padding-right: 36px;

    img{
        width: 1.5625rem;
        height: 1.5625rem;
    }
}