.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: rgba(10, 11, 13, 0.9);
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--card-dark);
}

.nav-left{
    display: flex;
    gap: 50px;
}

.nav-links{
    display: flex;
    gap: 28px;
    list-style: none;
    
    a{
        text-decoration: none;
        color: var(--text-white);
        font-size: 12px;
        font-weight: 10;
    }

}

.nav-right{
    a{
        text-decoration: none;
        color: var(--text-white);
        font-size: 12px;
    }
    
}

.notification{
    padding-right: 36px;
}